html {
    overflow-y: scroll;
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.video-wrap {
    background-color: #efefef;
}

.content {
    flex: 1;
}

.wrap {
    width: 80%;
    margin: 0 auto;
}

.title_main {
    font-weight: 700;
}

.title_sub {
    font-size: .6em;
    font-weight: 300;
}

.video {
    background-color: #efefef;
}

.video-responsive .video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.footer {
    padding: 1em 0;

    background: #efefef;
    text-align: center;
}

.footer_desc {
    width: 80%;
    margin: 0 auto;

}


/*body {
  font: 300 16px/1.1 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    color: #23527c;
}

.wrap {
    width: 90%;
    margin: 0 auto;
}



.title_sub {
    font-size: .65em;
    font-weight: 300;
    color: #757575;
}

.note {
    position: relative;
    margin: .5em .5em .5em 1em;

    color: #757575;
}

.note:before {
    content: "!";

    position: absolute;
    top: 0;
    left: -1em;

    color: #5484bd;
    font-weight: 900;
}

.footer {
    padding: 1em 5%;
    background: #f2f2f2;
}

/* App */
/*.app {
    margin: 1em 0;
}

.video {
    display: block;
    width: 400px;
    height: 300px;

    background: #e0e0e0;
}

.actions {
    margin: .5em 0;
}

.action_item {
    margin: .25em;
}*/*/