@import url('https://fonts.googleapis.com/css?family=Roboto:300, 400,500,700,900');

/* HTML5 Reset */
html, body, body div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

main, article, aside, figure, footer, header, nav, section, details, summary { display: block; }

*,
*:before,
*:after {
    box-sizing: border-box;
}

html { overflow-y: scroll; }
button { 
    cursor: pointer;
    margin: 0;
}

.clearfix:after { content: " "; display: block; clear: both; }

/* Start fun */
body {
  font: 300 16px/1.1 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    color: #23527c;
}

.wrap {
    width: 90%;
    margin: 0 auto;
}

.title {
    margin: .5em 0;
    font-size: 2em;
}

.title_main {
    font-weight: 700;
}

.title_sub {
    font-size: .65em;
    font-weight: 300;
    color: #757575;
}

.note {
    position: relative;
    margin: .5em .5em .5em 1em;

    color: #757575;
}

.note:before {
    content: "!";

    position: absolute;
    top: 0;
    left: -1em;

    color: #5484bd;
    font-weight: 900;
}

.footer {
    padding: 1em 5%;
    background: #f2f2f2;
}

/* App */
.app {
    margin: 1em 0;
}

.video {
    display: block;
    width: 400px;
    height: 300px;

    background: #e0e0e0;
}

.actions {
    margin: .5em 0;
}

.action_item {
    margin: .25em;
}