html {
    overflow-y: scroll;
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.wrap {
    width: 80%;
    max-width: 1120px;
    margin: 0 auto;
}

.title_main {
    font-weight: 700;
}

.title_sub {
    font-size: .6em;
    font-weight: 300;
}

.source {
    width: 100%;

    position: absolute;
    top: 5px;
    left: 5px;
}

.video {
    background-color: #efefef;
}

.video-responsive .video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.footer {
    padding: 1em 0;

    background: #efefef;
    text-align: center;
}

.footer_desc {
    width: 80%;
    margin: 0 auto;

}

.notify {
    opacity: 0;

    max-width: 480px;
    position: fixed;
    bottom: 10%;
    right: 5%;

    transition: opacity .4s ease;
}

.notify-active {
    opacity: 1;
}

/* Changes for spectre */
.form-select {
    max-width: 100%;
}

.card {
    position: relative;
}

.form-select:not([multiple]) {
    background-color: rgba(255, 255, 255, .4);
}